!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link( rel="icon" href="data:;base64,iVBORw0KGgo=")

    %title Breath Rate Monitor
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
